.category {
    position: relative;
}

.category:hover {
    size: 150%;
}

.cat-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prime-custom {
    background-color: #dc882d !important;
    border: #dc882d !important;
}

.prime-custom:hover {
    background-color: #d67916 !important;
    border: #a1621e !important;
}

.cat-img {
    max-height: 75vh;
    transition: transform 0.3s ease-in-out;
}


.grow:hover {
    transform: scale(1.03);
}