.cart-icon {
    position: relative;
}

.cart-items {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: #dc882d;
    position: absolute;
    right: 1px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prime-custom {
    background-color: #dc882d !important;
    border: #dc882d !important;
}

.prime-custom:hover {
    background-color: #d67916 !important;
    border: #a1621e !important;
}