.products {
    position: relative;
  }
  
  .left {
    position: sticky;
    display: flex;
    top: 100px;
    text-align: left;
  }
  
  .top-img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .cat-img h1 {
    color: white;
    position: relative;
    top: 50%;
    font-weight: bolder;
    height: 0;
  }
  